[submodule "src/esp32-logging/components/esp_littlefs"]
	path = src/common-components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "src/common-components/graphviz/graphviz"]
	path = src/common-components/graphviz/graphviz
	url = https://github.com/danielkurek/graphviz.git
[submodule "text"]
	path = text
	url = git@gitlab.mff.cuni.cz:kurekd/bakalarska-prace-text.git
