# Target
CONFIG_IDF_TARGET="esp32s3"

# General settings

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Fix warnings in esp-idf
#CONFIG_COMPILER_DISABLE_GCC12_WARNINGS=y

# WIFI
CONFIG_ESP_WIFI_FTM_ENABLE=y

# IMF
CONFIG_IMF_MOBILE_DEVICE=y
# Serial
CONFIG_IMF_SERIAL_TX_GPIO=42
CONFIG_IMF_SERIAL_RX_GPIO=41