menu "OTA"

    config SERIAL_COMM_CLIENT
        bool "Enable client Serial communication"
        default y
        help
            Enables client serial communication code for sending commands to server.

    config SERIAL_COMM_SERVER
        bool "Enable server Serial communication"
        default n
        help
            Enables server serial communication code for responding to commands from client device.

endmenu