menu "Interactive Mesh Framework"

    choice IMF_ROLE
        prompt "Mesh Role"
        default IMF_MOBILE_DEVICE
        help
            Mesh Role:

            "Mobile" device can move

            "Station" device does not move. It is stationary.

        config IMF_MOBILE_DEVICE
            bool "Mobile"
        config IMF_STATION_DEVICE
            bool "Station"
    endchoice
    
    config IMF_DEBUG_STATIC_DEVICES
        bool "Devices debugging - static values"
        default false
        help
            Devices will be only local and will not utilize BLE-Mesh. Special constructor is available to set initial values
    
endmenu