# Target
CONFIG_IDF_TARGET="esp32s3"

# General settings

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Fix warnings in esp-idf
#CONFIG_COMPILER_DISABLE_GCC12_WARNINGS=y

# WIFI
CONFIG_ESP_WIFI_FTM_ENABLE=y

# WiFi Connect
CONFIG_WIFI_CONN_MAX_RETRY=3

# IMF
# Uncomment only one line according to which device type this project will be flashed to
CONFIG_IMF_STATION_DEVICE=y  # uncomment this for STATION device
# CONFIG_IMF_MOBILE_DEVICE=y # uncomment this for MOBILE device

# Serial
CONFIG_IMF_SERIAL_TX_GPIO=42
CONFIG_IMF_SERIAL_RX_GPIO=41

# Distance measurement
CONFIG_DISTANCE_FILTER_MAX_SIZE_DEFAULT=100